.container-yes-no-answer{
    padding-bottom: 10%;
}

Button{
    margin-right: 1vw !important;
}

Button.Selected{
    background-color: rgb(59,84,125);
    color: #FFFFFF;
}

.container-lickert-answer{
    padding-bottom: 10%;
}

.container-drop-answer{
    padding-bottom: 10%;
}

.lickert-answer{
    max-width: 15px;
    padding: 0 2.2vw;
}

