.title-survey{
    padding: 5% 0 0 8%;
    font-family: 'raleway';
    /* letter-spacing: 0.1em; */
    font-size:calc(1.2vw + 1.2vh + 0.6vmin);
}

.pole-survey{
    padding: 5% 0 0 8%;
    font-size:calc(1vw + 1vh + 0.6vmin);
    font-family: 'raleway';
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.line-survey{
    padding-left: 8%;
    height:20px;
    width: 17vw;
}

.container-subpillars-survey{
    margin-top: 4%;
}

.subpillars-survey{
    padding: 0 0 0 8%;
    font-family: 'raleway';
    font-size:calc(0.8vw + 0.8vh + 0.6vmin);
    font-weight: normal;
}


.background-left{
    background-color: rgb(126,140,177);
    color: #FFFFFF;
    height: 100vh;
}

.background-right{
    background-color:rgb(255, 255, 255);
    color: #000000;
    padding: 5%;
}

.question{
    font-size: 2vh;
    margin-bottom: 3%;
}

Button.HiddenBack{
    display:none
}

