.title-survey{
    padding: 5% 0 0 8%;
    font-family: 'raleway';
    font-size:calc(0.7vw + 0.7vh + 0.7vmin);
    color:#FFFFFF;
}


.test{
    position: -webkit-sticky;
    position: sticky;
    top:140px;
}
.pole-survey{
    color:#FFFFFF;
    padding: 5% 0 0 8%;
    font-size:calc(0.6vw + 0.6vh + 0.6vmin);
    font-family: 'raleway';
    text-transform: uppercase;
}

.line-survey{
    padding-left: 8%;
    height:20px;
    width: 17vw;
}

.container-subpillars-survey{
    margin-top: 4%;
}


.background-left{
    background-color: rgb(126,140,177);
    background-size: 100% 50%;
    color: rgba(255,255,255, 0.5);
}

Button.hidden-button {
    display:none
}
.background-right{
    background-color:rgb(255, 255, 255);
    color: #000000;
    padding: 5%;
}

.question{
    font-size:calc(0.45vw + 0.45vh + 0.45vmin);
    margin-bottom: 3%;
    color: rgb(38, 56, 87);
}

.subpillar-survey{
    padding: 0 0 0 8%;
    font-family: 'raleway';
    font-size:calc(0.45vw + 0.45vh + 0.45vmin);
    font-weight: normal;
}

.subpillars-survey-active{
    padding: 0 0 0 8%;
    font-family: 'raleway';
    color: #FFFFFF;
    font-size:calc(0.45vw + 0.45vh + 0.45vmin);
}

Button.HiddenBack{
    display:none
}


.continue-button{
    width: 10vw;
    padding: 18px 30px !important;
    font-family: "Raleway";
    font-size: calc(0.5vw + 0.5vh + 0.5vmin) !important;
    color:#FFFFFF !important;
    background-color: rgb(38, 56, 87) !important;
}


.arrow{
    max-width: 1.5vw;
    padding-right: 15px;
}

.container-survey-button{
    align-items:center;
    justify-content: center;
}

.circular {
    margin-left: 50%;
    margin-top: 5%;
}