text {
  visibility: hidden;
}

.polesCircle {
  position: relative;
  transform: scale(1.3);
  top: 5px;
}

.polesCircle svg path {
  color: #7ed321;
}

.progressbar-container{
  box-shadow: inset 0px -11px 25px -10px rgb(0, 0, 0);
  /* box-shadow: inset 1em 0  1em rgb(0, 0, 0, 0.5); */
  height: 15vh;
  padding-bottom: 5%;
  }


